@use "../colors";
@use "../fonts";

.ForgotPassword {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	& > .LogoContainer {
		position: absolute;
		left: 30px;
		top: 20px;
	}
}

.ForgotPasswordTextContainer {
	display: grid;
	grid-template-rows: 80px 30px;
	align-content: center;
	justify-items: space-evenly;
	align-items: center;
	margin: 10px;

	color: colors.$white3;
	font-family: fonts.$Roboto;
	text-align: center;

	& > .Title {
		font-size: 30px;
	}

	& > .Description {
		font-size: 18px;
	}
}

.Form {
	display: grid;
	grid-template-rows: 1fr;
	gap: 60px;
	margin: 60px;
	justify-items: center;
}
