@use "../colors";
@use "../fonts";

.Api {
	display: grid;
	grid-template-columns: 240px 1fr;

	& > .LeftBar {
		background-color: colors.$grey2;
		padding: 20px 10px;
	}

	& > .ApiContent {
		width: 100%;
		height: 100%;
		padding: 30px;
	}
}
